.slider {
  position: absolute;
  top: 100px;
  left: 125px;
  width: 400px;
  height: 550px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: auto; /* 비율을 유지하면서 크기를 키우기 위해 height를 auto로 설정 */
  max-height: 100%;
  object-fit: contain; /* 비율 유지하며 크기 조절 */
}
