@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 올라오는 효과 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px); /* 위에서 아래로 내려가는 효과 */
  }
}

/* 요소가 보이기 시작할 때 적용할 클래스 */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
  opacity: 1;
}

/* 요소가 사라질 때 적용할 클래스 */
.fade-out {
  animation: fadeOut 1s ease-out forwards;
  opacity: 0;
}

/* 기본 상태에서는 요소가 보이지 않도록 설정 */
.fade-element {
  opacity: 0;
}

/* image 3 */
.background_img {
  box-sizing: border-box;
  position: absolute;
  width: 1920px;
  height: 1682px;
  top: 135px;
  background: linear-gradient(0deg, rgba(185, 179, 255, 0.1), rgba(185, 179, 255, 0.1));
  /*border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

/* Group 1000003567 */
.textBox1 {
  position: relative;
  width: 450px;
  height: 144px;
  top: 1026px;
  right: 882px;
  bottom: 370px;
  left: 376px;
}

/* AI 기반 맞춤형 의류 추천 서비스 */
.text1 {
  position: relative;
  width: 360px;
  height: 144px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 80px;
  /* or 148% */
  text-align: left;
  color: #000000;
}

/* Group 1000003568 */
.textBox2 {
  position: relative;
  width: 440px;
  top: 110px;
  right: 780px;
  bottom: 691px;
  left: 376px;
}

/* A 아름답고 */
.text2_1 {
  position: relative;
  width: 390px;
  height: 68px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  color: #000000;
}

/* Z 자연스러운 */
.text2_2 {
  position: relative;
  width: 390px;
  height: 68px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  color: #000000;
  padding-left: 20px; /* 패딩 추가 */
}

/* A 아웃핏 */
.text2_3 {
  position: relative;
  width: 390px;
  height: 68px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  color: #000000;
  padding-left: 40px; /* 패딩 추가 */
}

/* 간단 진단하기 버튼 */
.simple_box {
  margin-top: 30px; /* 위쪽 간격 */
  margin-bottom: 30px; /* 아래쪽 간격 */
}

/* 정밀 진단하기 버튼 */
.more_box {
  margin-bottom: 30px; /* 아래쪽 간격 */
}

/* Arrow 4 */
.solve_arrow {
  box-sizing: border-box;
  position: absolute;
  width: 79px;
  height: 79px;
  top: 250px;
  left: 336px;
  color: #4d4160;
}

/* 쉬운 신체 사이즈 측정 및 해외 의류 추천 */
.solve_text {
  position: relative;
  width: 552px;
  height: 64px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  margin: 10px 0px 0px 60px;
}

/* Rectangle 7126 */
.solve_box {
  position: absolute;
  width: 676px;
  height: 79px;
  top: 380px;
  left: 40px;
  background: rgba(214, 212, 240, 0.9);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

/* Group 1000003571 */
.problem-container {
  position: absolute;
  width: 676px;
  height: 200px;
  top: 1017px;
  left: 996px;
  display: flex;
  justify-content: space-around; /* 또는 space-between, 필요에 따라 조정 */
  align-items: center;
  margin: 20px 0; /* 필요에 따라 조정 */
}
