/* Group 1000003574 */
.more-teamg {
  position: absolute;
  width: 157px;
  height: 37px;
  left: 318px;
  top: 249px;
}

/* Group 1000003575 */
.more-teamg {
  position: absolute;
  width: 374px;
  height: 288px;
  /* left: 368px;
  top: 354px; */
}

/* Rectangle 7139 */
.more-pbox {
  display: flex;
  justify-content: center;
  position: relative;
  width: 340px;
  height: 288px;
  padding-left: 20px;
  padding-right: 20px;
  /* left: 368px;
  top: 354px; */
  z-index: 2;

  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Line 3 */
.more-teampartition {
  position: absolute;
  width: 340px;
  height: 0px;
  /* left: 368px;*/
  top: 172px;

  z-index: 3;

  border: 3px solid rgba(0, 0, 0, 0.23);
}

.more-textbox {
  position: relative;
  width: 340px;
  height: 110px;
  top: 178px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 15px;
  display: flex;
  z-index: 4;
  flex-direction: column !important; /* 수직 정렬 */
  justify-content: space-between !important; /* 컴포넌트들이 위에서 아래로 시작 */
  gap: 15px !important;

  background-color: red;
}

/* 김태우 인하대학교 전자공학과 */
.more-textleft {
  position: absolute;
  width: auto;
  height: auto;
  left: 35px;
  align-self: flex-start;
  margin: 10px;

  z-index: 5;

  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* or 206% */

  color: #000000;
}

/* github 블로그 전화번호 */
.more-textright {
  position: absolute;
  width: auto;
  height: auto;
  left: 200px;
  align-self: flex-start;
  z-index: 5;
  margin: 10px;

  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  /* or 206% */

  color: #000000;
}

/* image 3 */
.more-teamimage {
  position: absolute;
  width: 201px;
  height: 172px;

  z-index: 5;
}
